<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{linkTags}}
    {{styleTags}}
    <script>
        window.__SSR_CACHE__ = {{ cache }}
    </script>
</head>
<body>
    <div id="app">{{html}}</div>
    {{scriptTags}}
</body>
</html>